<div class="row pt-5">
  <div class="col-md-6 mx-auto">
    <div class="card rounded-0">
      <div class="card-header">
        <h3 class="mb-0"> REGISTER </h3>
      </div>
      <div class="card-body">
        <form [formGroup]="formulaire" method="post">
          <mat-form-field appearance="fill">
            <input [(ngModel)]="registerUserData.email" type="email" matInput placeholder="E-mail" formControlName="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <input [(ngModel)]="registerUserData.password" type="password" matInput placeholder="Password" formControlName="password" required>
          </mat-form-field>
          <br>
          <button [disabled]="formulaire.invalid" (click)="registerUser()" type="button" class="btn btn-primary float-right">REGISTER</button>
        </form>
      </div>
    </div>
  </div>
</div>
