<div >
  <mat-toolbar color="primary">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <a mat-button class="companyName" [routerLink]="['Home']" routerLinkActive="active">
      <span>TrackCov19</span>
    </a>
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <a mat-button class="nav-link" style="cursor: pointer"  [routerLink]="['Home']" routerLinkActive="active" >HOME</a>
      <a mat-button class="nav-link" style="cursor: pointer"  [routerLink]="['Details']" routerLinkActive="active">DETAILS</a>
      <a mat-button class="nav-link" style="cursor: pointer"  [routerLink]="['Contact']" routerLinkActive="active">CONTACT US</a>
      <a mat-button class="nav-link" style="cursor: pointer" *ngIf="addService.loggedIn()" (click)="logout()">LOG OUT</a>
      <a mat-button *ngIf="!addService.loggedIn()" [routerLink]="['login']" routerLinkActive="active">LOGIN</a>
      <a mat-button  *ngIf="!addService.loggedIn()" [routerLink]="['register']" routerLinkActive="active">REGISTER</a>
    </div>
  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" opened="false">
      <div fxLayout="column">
        <a mat-button [routerLink]="['Home']" routerLinkActive="active" (click)="sidenav.close()">HOME</a>
        <a mat-button [routerLink]="['Details']" routerLinkActive="active" (click)="sidenav.close()">DETAILS</a>
        <a mat-button [routerLink]="['Contact']" routerLinkActive="active" (click)="sidenav.close()">CONTACT US</a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

