<div class="row">
  <div id="title" class="col">
    <img alt="moroccoFlag" class="card-img-top" src="{{Flag}}">
    <div class="col">
      <h1>{{Country}}: Global statistics</h1>
    </div>
  </div>
</div>
<div>
  <table style="overflow-x:auto;">
    <caption style="text-align: center">Updated data about COVID 19</caption>
    <thead>
    <tr>
      <th scope="col">Today cases</th>
      <th scope="col">Total cases</th>
      <th scope="col">Total Recovered cases</th>
      <th scope="col">Total Deaths</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{ToDayCases}}</td>
      <td>{{Confirmed}}</td>
      <td id="recovered">{{Recovered}}</td>
      <td id="deaths">{{Deaths}}</td>
    </tr>
    </tbody>
  </table>
</div>
